/* Basic styling */

/*
draw 8x8 grid for frisbee landing
draw 2 rectages, S and T
P(S n T) = 0.3125
P(T U S) = 0.625
find P(S | T) and P(T | S)
*/


* {margin: 0; padding: 0; border: 0; vertical-align: baseline; user-select: none;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}


body {
    font-family: "Segoe UI", sans-serif;
    color: #FFF;
}

h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin-top: 10px;
    color: rgba(255,255,255,0.4);
}

#normal {
    display: block;
    height: 100%;
}

*[hidden] > * {
    display: none;
    opacity: 0;
    height: 0;
    width: 0;
}

#top-menu {
    height: 100%;
    width: 100%;
    background-color: #10101010;
    z-index: 5;
    position: fixed;
}

#top-footer-bar {
    width: 100%;
    height: 15%;
    background-color: #4444;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-button {
    height: 40%;
    width: 25%;
    color: #fff;
    padding: 2px;
    background-color: #999;
    border-style: solid;
}

#top-music-button {
    background-color: #2145F1;
    position: absolute;
    top: 20%;
    left: 15%;
}

#top-services-button {
    background-color: #0DBD2A;
    position: absolute;
    width: 40%;
    height: 15%;
    bottom: 20%;
    left: 30%;
}

#album-list {
    display: flex;
    flex-wrap: wrap;
}

#album-list, #song-list, #playlist-list {
    background-color: #000000cc;
    z-index: 0;
    padding: 10px;
    margin: 1%;
    width: 93%;
    min-height: 1%;
    height: auto;
    position: absolute;
    right: 3%;
}

#s-content > div {
    background-color: #000000cc;
    padding: 10px;
    margin: 1%;
    margin-bottom: 2%;
    width: 93%;
    height: auto;
}

#list-container, #services {
    overflow-y: scroll;
    padding: 5%;
    height: 100%;
    width: calc(70% - 1px);
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
}

#list-container::-webkit-scrollbar {
    width: 10px;
    height: 10em;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
}
#list-container::-webkit-scrollbar-track {
    background : #555999;
    border-radius: 10px;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

#list-container::-webkit-scrollbar-thumb {
    background : rgba(255,255,255,0.5);
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
}

#top-playlist-button {
    background-color: #B87500;
    position: absolute; 
    top: 20%;
    right: 15%;
}

#now-playing {
    background-color: #1B4CFE44;
    position: fixed;
    left: 1px;
    top: 1px;
    height: calc(100% - 2px);
    width: calc(30% - 1px);
    padding: 0;
}

#now-playing > * {
    z-index: 2;
}

#song-controls > input[type="button"] {
    background-color: blue;
    color: #fff;
    font-size: large;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
}

#song-controls > #np-prev {
    border-radius: 15px 15px 0px 0px;
}

#np-pause {

}

#np-next {

}

#np-shuffle {

}

.seek-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #2145F1;
    outline: none;
    margin: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 5px;
    z-index: 0;
}

.seek-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #40d0e0;
    cursor: grab;
    opacity: 0;
}

.seek-slider:hover::-webkit-slider-thumb {
    opacity: 0.8
}

.seek-slider::-webkit-slider-thumb:active {
    cursor: grabbing;
}

.seek-slider::-webkit-slider-thumb:hover {
    opacity: 1;
}

#song-info {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 40%;
    width: 100%;
    height: 30%;
    transition-property: background-color;
    opacity: 1;
    transition-duration: 500ms;
}

.no-song #song-info {
    opacity: 0;
}

#song-info-button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #fff0;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
}

#advanced-song-info-modal {
    position: fixed;
    z-index: 10;
    top: 30%;
    left: 20%;
    height: 40%;
    width: 60%;
    border-width: 5px;
    border-style: solid;
    border-color:#fff;
    backdrop-filter: blur(10px);
}

#song-info-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50% -50%);
}

#song-info-title {
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: x-large;
}

#song-info-album {
    position: absolute;
    top: 8em;
    left: 0;
    width: 100%;
    text-align: center;
}

#song-info-artist {
    text-align: center;
    font-size: small;
    position: absolute;
    width: 100%;
    bottom: 0.75em;
}

#visualizer-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.now-playing-spacer {
    height: 100%;
    width: 30%
}

#top-settings {
    position: fixed;
    z-index: 10;
    top: 15%;
    left: 10%;
    border: solid 1px #fff;
    height: 70%;
    width: 80%;
    backdrop-filter: blur(5px);
}

#song-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#song-list-t {
    width: 100%;
    text-align: left;
    padding: 0;
}

#song-list-t > tbody {
    padding: 0;
}

#song-list-t > tbody > tr, #song-list-t > tbody > tr > td {
    padding: 3px;
    margin: 0px;
}

#song-list-t > tbody > tr {
    width: 100%;
}

#song-list-t > tbody > tr:hover > td {
    color: #1C47F6;
}

/*#song-list-tbody > tr:hover::after {
    content: "asdf";
    background-color: #fff;
    height: 10px;
    width: 10px;
    position: fixed;
    top: 0;
    left: 0;
}*/

#song-list-t > tbody > tr:hover {
    background-image: linear-gradient(0deg, #1c47f6 5%, #00000000 6%)
    
}

#song-list-t > tbody > tr:hover :first-child {
    border-bottom: 0px solid #1C47F6;
}

#song-list-t > tbody > tr:hover > :first-child {
    opacity: 1;
}

#song-list-t > tbody > tr > :first-child {
    opacity: 0;
    width: 1em;
    font-family: "Segoe MDL2 Assets"
}

#song-list-t > tbody > tr :nth-child(2) {
    width: 2em;
}

#song-list-t > tbody > tr > :last-child {
    text-align: right;
}

#song-alb-img {
    position: absolute;
    top: 10%;
    height: 20%;
    width: 100%;
}

#song-alb-img > img {
    position: absolute;
    left: 25%;
}

#song-alb-img > span {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -50%;
}

#album-info-header {
    position: fixed;
    right: 1px;
    top: 1px;
    width: calc(70% - 1px);
    height: calc(10em - 1px);
    padding: 32px;
    z-index: 5;
    background-color: #0C59DBDD;
}

#album-info-header-thing {
    position: absolute;
    /*background-color: #0C59DBDD;  
    height: 2em;*/
    width: 40%;
    padding: 0;
    top: calc(10em - 1px);
    left: 0px;
    border-top: 40px solid #0C59DBDD;
	border-left: 0px solid transparent;
	border-right: 25px solid transparent;
    /*border-top-width: 100px;
    border-right-width: 83px;
    transform: skew(-20deg, 0deg);*/
}

#album-info-header-thing-text {
    position: absolute;
    height: 50px;
    width: 20%;
    top: 105%;
    left: 2%;
}

/*#album-info-header-thing::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 4%;
    padding: 5px;
    left: calc(-0.5em - 2px);
    bottom: 0;
    z-index: 100;
    transform: skew(20deg, 0deg);
    background-color: #0C59DBDD;
}*/

.select-hover-anim {
    --borderWidth: 10px;
    background: #1D1F20;
    position: relative;
    border-radius:0;
    border-width: 5px;
    border-color: #000;
}

#settings-info {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0;
}

.select-hover-anim:hover:before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(113deg, #F08600 0%, #F08600 50%, #FFFE00 83%, rgb(65, 65, 65) 85%, #F08600 87%);
    z-index: -1;
    animation: animatedgradient 750ms linear infinite;
    background-size: 500% 500%;
}


@keyframes animatedgradient {
	0% {
		background-position: 150% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.album {
    height: 10em;
    width: 10em;
    padding: 2px;
    margin: 5px;
    background-color: gray;
    background-size: cover;
    background-position: 0 0;
    border-style: solid;
    border-color: gray;
    color: white;
}

/* Styling of window frame and titlebar */
body {
    border: 1px solid var(--user-accent-color);
    overflow-y: hidden;
}

#titlebar {
    display: block;
    position: fixed;
    z-index: 100;
    height: 32px;
    width: calc(100% - 2px);
    padding: 4px;
    padding-top: 0px;
    color: #FFF;
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}

#main {
    height: calc(100% - 32px);
    margin-top: 32px;
    width: 100%;
    padding: 1px;
    overflow-y: auto;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow-x: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

.maximized #window-title {
    margin-left: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(5, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 10px;
    -webkit-app-region: no-drag;
}

#window-controls > .button, .uiassetfont {
    font-family: "Segoe MDL2 Assets";
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: default;
}

#window-controls .button:hover {
    background: var(--user-accent-color);
}

#window-controls .button:active {
    background: rgba(255,255,255,0.2);
}

#close-button:hover {
    background: #E81123 !important;
}

#close-button:active {
    background: #f1707a !important;
    color: #000;
}

#min-button {
    grid-column: 3;
}
#max-button, #restore-button {
    grid-column: 4;
}
#close-button {
    grid-column: 5;
}

#settings-button {
    grid-column: 2;
    font-size: medium;
}

#back-button {
    grid-column: 1;
    font-size: small;
}

#back-button:hover {
    background-color: #B50D65 !important;
    color: #FB4087;
}

#restore-button {
    display: none !important;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}